
.alert {
    @include alert($default-blue);
    &.blue {
        @include alert($default-blue);
    }
    &.red {
        @include alert($default-red);
    }
    &.green {
        @include alert($default-green);
    }
    &.orange {
        @include alert($default-orange);
    }
    &.soft-blue {
        @include alert($blue);
    }
    &.soft-red {
        @include alert($red);
    }
    &.soft-green {
        @include alert($green);
    }
    &.soft-orange {
        @include alert($orange);
    }
}

.alert-close {
    margin-left: 15px;
    color: $white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.alert-close:hover {
    color: $grey20;
}

.alert-heading {
    color: inherit;
}
