
.button {
    @include button($blue);
    &.primary {
        @include button($blue);
        &:hover {
            background-color: $light-blue;
        }
    }
    &.danger {
        @include button($red);
        &:hover {
            background-color: $light-red;
        }
    }
    &.success {
        @include button($green);
        &:hover {
            background-color: $light-green;
        }
    }
    &.warning {
        @include button($orange);
        &:hover {
            background-color: $light-orange;
        }
    }
    &.small {
        padding: 0.5em 1em;
        font-size: 12px;
    }
}
