
.button {
    @include button($grey);
    &.blue {
        @include button($blue);
    }
    &.red {
        @include button($red);
    }
    &.green {
        @include button($green);
    }
    &.orange {
        @include button($orange);
    }
    &.soft-blue {
        @include button($soft-blue);
    }
    &.soft-red {
        @include button($soft-red);
    }
    &.soft-green {
        @include button($soft-green);
    }
    &.soft-orange {
        @include button($soft-orange);
    }
    &.large {
        padding: 0.5em 1em;
        font-size: 18px;
    }
    &.small {
        padding: 0.4em 0.8em;
        font-size: 12px;
    }
    &.x-small {
        padding: 0.1em 0.3em;
        font-size: 10px;
    }

}

.button.hollow {
    @include button-hollow($grey);
    &.blue {
        @include button-hollow($blue);
    }
    &.red {
        @include button-hollow($red);
    }
    &.green {
        @include button-hollow($green);
    }
    &.orange {
        @include button-hollow($orange);
    }
    &.soft-blue {
        @include button-hollow($soft-blue);
    }
    &.soft-red {
        @include button-hollow($soft-red);
    }
    &.soft-green {
        @include button-hollow($soft-green);
    }
    &.soft-orange {
        @include button-hollow($soft-orange);
    }
}

.button[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}
