label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    &.form-label {
        font-weight: bold;
    }
}

input[type="email"] {
    max-width: 100%;
}

textarea {
    min-height: 5em;
}

select[multiple] {
    min-height: 5em;
}

.checkbox {
    font-weight: normal;
}

.form {
    display: block;
    width: 100%;
    height: 2.5em;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }
    &[disabled] {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }
    &.success {
        outline: 0;
        border-color: $success-color;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    &.warning {
        outline: 0;
        border-color: $warning-color;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    &.error {
        outline: 0;
        border-color: $error-color;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
}
