[class*='col-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px;
}

@media #{$bp-md} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

    @for $i from 1 through 12 {
        .col-#{$i} {
            width: 100% / $grid-cols * $i;
        }
    }
}
