.container {
    margin-right: auto;
    margin-left: auto;
}

.row {
    padding-left: 1em;
    padding-right: 1em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.pull-left {
    float: left
}

.pull-right {
    float: right;
}
