a {
    &.list {
        max-width: 400px;
        text-decoration: none;
        min-width: 60%;
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: $white;
        border: 1px solid $grey40;
        color: $grey90;
        &:hover {
            background-color: darken($white, 5%)
        }
    }
}
