@mixin button($button-color) {
    background-color: $button-color;
    color: $white;
    padding: 1em 1.5em;
    text-align: center;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    margin: 0.5em;
    transition-duration: 0.4s;
}

@mixin alert($alert-color) {
    padding: 10px;
    margin-bottom: 10px;
    background-color: $alert-color;
    color: $white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

@mixin panel($panel-color) {
    margin: 0.5em;
    border: 1px solid $panel-color;
    border-radius: .25rem;
    .header {
        @include panelHeader($panel-color);
    }
}

@mixin panelHeader($panel-color) {
    background-color: $panel-color;
    border-radius: 0;
    padding: 0.5em;
    font-weight: bold;
    color: $white;
}
