.panel {
    &.primary {
        @include panel($blue);
    }
    &.success {
        @include panel($green);
    }
    &.warning {
        @include panel($orange);
    }
    &.danger {
        @include panel($red);
    }
    &.body {
        padding: 0.75em 1em;
        border: 0px solid transparent;
        border-radius: .25rem;
    }
}
