/*

Reboot

*/

// html
html {
    font-family: $font-family;
    font-weight: $font-weight-normal;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
}

// body
body {
    background-color: $body-bg;
    color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    line-height: 150%;
}

p {
    line-height: 110%;
}

code {
    color: $grey80;
    background-color: $grey20;
}

img {
    width: 100%;
    margin: 0 auto;
}
