/*

Reboot

*/

// html
html {
    font-family: $font-family;
    font-weight: $font-weight-normal;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// body
body {
    background-color: $body-bg;
    color: $body-color;
}
