
// html
html {
    font-family: $font-family;
    font-weight: $font-weight-normal;
    box-sizing: border-box;
}

*, *::before, *::after {
    @include border-box;
}

// body
body {
    background-color: $body-bg;
    color: $body-color;
}

h1 {
    font-size: 36px;
    @include header-styling;
}

h2 {
    font-size: 30px;
    @include header-styling;
}

h3 {
    font-size: 24px;
    @include header-styling;
}

h4 {
    font-size: 18px;
    @include header-styling;
}

h5 {
    font-size: 14px;
    @include header-styling;
}

h6 {
    font-size: 12px;
    @include header-styling;
}

p {
    font-weight: $font-weight-normal;
    line-height: 110%;
}

code {
    @include code;
    color: #c7254e;
    background-color: #f9f2f4;
}

kbd {
    @include code;
    color: $white;
    background-color: $black;
}

img {
    width: 100%;
    margin: 0 auto;
}

hr {
    margin: 1em 0;
}

div {
    display: block;
}
