table {
    @include table;
    thead {
        border-bottom: 2px solid $grey50;
        th {
            @include table-header;
        }
    }
    tbody {
        border-bottom: 1px solid $grey50;

        tr {
            border-bottom: 1px solid $grey50;
            td {
                padding: 0.75em 1em;
                a {
                    color: $black;
                    text-decoration: none;
                    display: inline-block;
                    margin: 0 0.5em 0 0;
                    &:hover, &:active, &:focus {
                        color: $grey70;
                        border: none;
                    }
                }
            }
            &.blue {
                background-color: lighten($blue, 50%);
            }
            &.red {
                background-color: lighten($red, 30%);
            }
            &.green {
                background-color: lighten($green, 30%);
            }
            &.orange {
                background-color: lighten($orange, 25%);
            }
        }
        th {
            @include table-header;
        }
    }
    tfoot {
        td {
            padding: 0.3em 0 0.3em;
            font-size: 1.25em;
        }
    }
    &.bordered {
        border: 1px solid $grey50;
        td, th {
            border: 1px solid $grey50;
        }
    }
    &.hover {
        > tbody > tr:hover {
            background-color: $grey10;
        }
    }
    &.responsive {
        overflow-x: auto;
        min-height: 0.01%;
        @media #{$bp-xp}  {
            width: 100%;
            // margin-bottom: ($line-height-computed * 0.75);
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid $grey50;
        }
    }

}
