/*

Variables

*/

//
// Color Schemes
//

$black: #000000;
$grey90: lighten($black, 10%);
$grey80: lighten($black, 20%);
$grey70: lighten($black, 30%);
$grey60: lighten($black, 40%);
$grey50: lighten($black, 50%);
$grey40: lighten($black, 60%);
$grey30: lighten($black, 70%);
$grey20: lighten($black, 80%);
$grey10: lighten($black, 90%);
$white: #FFFFFF;


//
// Body
//

$body-bg: #f4f4f4;
$body-color: #0f0f0f;

//
// Fonts 
//

$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-weight-normal: 300;
