
//
// Color Schemes
//

$black: #000000;
$grey90: lighten($black, 10%);
$grey80: lighten($black, 20%);
$grey70: lighten($black, 30%);
$grey60: lighten($black, 40%);
$grey50: lighten($black, 50%);
$grey40: lighten($black, 60%);
$grey30: lighten($black, 70%);
$grey20: lighten($black, 80%);
$grey10: lighten($black, 90%);
$white: #FFFFFF;

// Default Colors
$grey: #C5C5C5 ;
$blue: #4392F1;
$green: #069E2D;
$red: #D00000;
$orange: #FCBA04;
// Pastle Colors
$soft-grey: #C5C5C5 ;
$soft-blue: #33658A;
$soft-green: #52B788;
$soft-red: #DB5461;
$soft-orange: #FFBA49;
// Light Colors
$light-grey: lighten($soft-grey, 20%);
$light-blue: lighten($soft-blue, 50%);
$light-green: lighten($soft-green, 30%);
$light-red: lighten($soft-red, 30%);
$light-orange: lighten($soft-orange, 25%);
// Array of Colors
$base-colors: $grey, $blue, $green, $red, $orange, $soft-blue, $soft-green, $soft-red, $soft-orange;
// Success, Warning, Error Colors
$success-color: #3c763d;
$warning-color: #8a6d3b;
$error-color: #a94442;

//
// Body
//

$body-bg: #FBFBFB;
$body-color: #000000;

//
// Fonts
//

$font-family: 'Roboto', sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-weight-normal: 100;

//
// Grid
//

$grid-cols: 12;
$grid-max-width: 100%;
$max-width-xs: 768px;
$max-width-sm: 750px;
$max-width-md: 970px;
$max-width-lg: 1170px;

$bp-xp: "only screen and (max-width: 768px)";
$bp-sm: "only screen and (min-width: 768px)";
$bp-md: "only screen and (min-width: 992px)";
$bp-lg: "only screen and (min-width: 1200px)";

//
// Table
//

$table-max-width: 1170px;
