/*

Variables

*/

//
// Color Schemes
//

$black: #000000;
$grey90: lighten($black, 10%);
$grey80: lighten($black, 20%);
$grey70: lighten($black, 30%);
$grey60: lighten($black, 40%);
$grey50: lighten($black, 50%);
$grey40: lighten($black, 60%);
$grey30: lighten($black, 70%);
$grey20: lighten($black, 80%);
$grey10: lighten($black, 90%);
$white: #FFFFFF;

$blue: #17888d;
$green: #1db727;
$red: #e92a25;
$orange: #e98025;

$light-blue: #2f989d;
$light-green: #3cca46;
$light-red: #ff514c;
$light-orange: #ff9f4c;

//
// Body
//

$body-bg: #f4f4f4;
$body-color: #000000;

//
// Fonts
//

$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-weight-normal: 300;

//
// Grid
//

$grid-cols: 12;
$grid-max-width: 100%;

$bp-sm: "only screen and (min-width: 20em)";
$bp-md: "only screen and (min-width: 30em)";
